@(id: String, header: String)(content: Html)

<div class="modal hide fade" id="@id">
  <div class="modal-header">
    <button class="close" data-dismiss="modal">×</button>
    <h3>@header</h3>
  </div>
  <div class="modal-body">
    @content
  </div>
</div>