@(field: play.api.data.Field, options: Seq[(String,String)], args: (Symbol,Any)*)(append: Html)

@import helper.FieldConstructor
@import helper.input

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrap2Input.render) }

@input(field, args:_*) { (id, name, value, htmlArgs) =>
  <select id="@id" name="@name" @toHtmlArgs(htmlArgs)>
    @args.toMap.get('_default).map { defaultValue =>
      <option class="blank" value="">@defaultValue</option>
    }
    @options.map { v =>
      <option value="@v._1" @(if(value == Some(v._1)) "selected" else "")>@v._2</option>
    }
  </select>
  @append
}