html, body {
  background-color: #eee;
}

.container {
  width: 340px;
}

.alert {
  margin-bottom: 12px;
}

#login-form {
  background-color: #fff;
  padding: 30px 60px 20px 60px;
  -webkit-border-radius: 8px 8px 8px 8px;
  -moz-border-radius:    8px 8px 8px 8px;
  border-radius:         8px 8px 8px 8px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

#login-header {
  margin-bottom: 8px;
}

#login-info {
  margin-top: 20px;
  text-align:center;
}

