@media (min-width: 768px) {
  table .header:after {
    content: "";
    float: right;
    margin-top: 7px;
    border-width: 0 4px 4px;
    border-style: solid;
    border-color: #000000 transparent;
    visibility: hidden;
  }

  table .header:hover:after {
    visibility: visible;
  }

  table .headerSortDown:after, table .headerSortDown:hover:after {
    visibility: visible;
    filter: alpha(opacity=60);
    -moz-opacity: 0.6;
    opacity: 0.6;
  }

  table .headerSortUp:after {
    border-bottom: none;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #000000;
    visibility: visible;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    filter: alpha(opacity=60);
    -moz-opacity: 0.6;
    opacity: 0.6;
  }
}

.text-center {
  text-align: center;
}

.help-inline {
  font-size: 11px;
  color: #bfbfbf;
}

.table-no-borders td, th {
  border: 0;
}

.description-block {
  height: 180px;
  overflow: auto;
}

.submissions-block {
  height: 250px;
  overflow: auto;
}

.thumbnail-image {
  display: block;
  max-width: 100%;
  margin-right: auto;
  padding: 4px 4px 4px 0px;
}