@(application: Application, submissions: List[Submission], developer: Developer)

@import helper._
@import classifiers.ApplicationState._
@import classifiers.SubmissionState._

@main(developer) {
  <div class="page-header">
    @if((application.state.id == READY_FOR_SALE || application.state.id == ON_SALE) && !application.hasNextVersion) {
      <a class="btn btn-primary pull-right" href="@routes.Submissions.startNewVersion(application.id)">Submit a new version</a>
    } else {
      @if(application.state.id == NOT_SUBMITTED) {
      <a class="btn btn-warning pull-right" href="@routes.Submissions.startUpload(application.id)">Continue submission</a>
      } else {
      <a class="btn pull-right disabled" href="javascript:void(0)" >Submit a new version</a>
      }
    }
    <h1>
      @application.name
      @if(application.state.id == NOT_SUBMITTED) {<small>Unsubmitted</small>}
    </h1>
  </div>

  <div class="row">
    <div class="span4">
      <ul class="thumbnails">
        <li class="span4">
          <div class="thumbnail-image">
            @if(BinaryData.findArtwork(application.id) == null) {
              <img class="thumbnail-image" src="http://placehold.it/360x268" alt="">
            } else {
              <img class="thumbnail-image" src="@routes.Applications.artwork(application.id)" alt="">
            }
          </div>
        </li>
      </ul>
    </div>
    <div class="span4">
      <table class="table table-no-borders">
        <colgroup>
          <col class="span2">
          <col class="span2">
        </colgroup>
        <tbody>
          <tr>
            <td><h5>Internal version</h5></td>
            <td>@application.version</td>
          </tr>
          <tr>
            <td><h5>Version</h5></td>
            <td>@application.versionDisplay</td>
          </tr>
          <tr>
            <td><h5>Category</h5></td>
            <td>@application.category.name</td>
          </tr>
          <tr>
            <td><h5>Content rating</h5></td>
            <td>@application.contentRating.name</td>
          </tr>
          <tr>
            <td><h5>Price tier</h5></td>
            <td>@application.priceTier.name</td>
          </tr>
          <tr>
            <td><h5>State</h5></td>
            <td>@application.state.name</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="span4">
      <table class="table table-no-borders">
        <tbody>
          <tr>
            <td>
              <h5>Description</h5>
            </td>
          </tr>
          <tr>
            <td>
              <div class="description-block">@application.description</div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  @if(!submissions.isEmpty) {
    <h3>Submissions</h3>
    <div class="submissions-block">
      <table class="table">
        <colgroup>
          <col class="span4">
          <col class="span4">
          <col class="span4">
          <col class="span4">
        </colgroup>
        <thead>
          <tr>
            <th>ID</th>
            <th>Date submitted</th>
            <th>Date resolved</th>
            <th>State</th>
          </tr>
        </thead>
        <tbody>
          @for(submission <- submissions) {
            <tr>
              <td>@submission.id</td>
              <td>@submission.submitted.format("dd.MM.yyyy HH:mm:ss")</td>
              <td>@if(submission.resolved != null) {@submission.resolved.format("dd.MM.yyyy HH:mm:ss")}</td>
              <td>
                @if(submission.state.id == REJECTED) {
                  <a data-toggle="modal" href="#modal@submission.id">@submission.state.name</a>
                } else {
                  @submission.state.name
                }
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }

  @for(submission <- submissions) {
    @if(submission.state.id == REJECTED) {
      @elements.modal("modal"+submission.id, "Rejection report") {
        <div class="accordion" id="recordAccordion">
          @for(rejectionRecord <- RejectionRecord.list(submission.id)) {
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#recordAccordion" href="#collapse@rejectionRecord.hashCode()">
                  @rejectionRecord.criterion.name
                </a>
              </div>
              <div id="collapse@rejectionRecord.hashCode()" class="collapse" style="height: 0px; ">
                <div class="accordion-inner">
                  <table class="table table-no-borders">
                    <tbody>
                      <tr>
                        <td><h5>Description</h5></td>
                        <td>@rejectionRecord.criterion.description</td>
                      </tr>
                      <tr>
                        <td><h5>Comment</h5></td>
                        <td>@rejectionRecord.comment</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          }
        </div>
      }
    }
  }
}