@(currentPage: Application.Page, currentSortBy: String, currentOrder: String, developer: Developer)

@link(newPage:Int, newSortBy:String) = @{
  var sortBy = currentSortBy
  var order = currentOrder

  if (newSortBy != null) {
    sortBy = newSortBy
    if (currentSortBy == newSortBy && currentOrder == "asc")
      order = "desc"
    else
      order = "asc"
  }

  routes.Applications.list(newPage, sortBy, order)
}

@header(key:String, title:String) = {
    <th class="@key header @if(currentSortBy == key) @{if(currentOrder == "asc") "headerSortDown" else "headerSortUp"}">
      <a href="@link(0, key)">@title</a>
    </th>
}

@main(developer, nav = "home") {
  @if(currentPage.totalRowCount == 0) {
    <div class="hero-unit">
      <h2 class="text-center">
        <a href="@routes.Submissions.startNew()">Currently you have no applications. Add one!</a>
      </h2>
    </div>
  } else {

    <div class="page-header">
      @defining(Application.findUnsubmitted(Authentication.developerID)) {applicationID =>
        @if(applicationID == 0) {
          <a class="btn btn-primary pull-right" href="@routes.Submissions.startNew()">Submit a new application</a>
        } else {
          <a class="btn btn-warning pull-right" href="@routes.Submissions.startUpload(applicationID)">Continue submission</a>
        }
      }
      <h1>
        You have
        @currentPage.totalRowCount
        @if(currentPage.totalRowCount == 1) {application} else {applications}
      </h1>
    </div>

    @if(flash.contains("success")) {
      <div class="alert alert-success alert-block">
        <a class="close" data-dismiss="alert" href="#">×</a>
        @flash.get("success")
      </div>
    }

    <table class="table table-striped">
      <colgroup>
        <col class="span3">
        <col class="span2">
        <col class="span2">
        <col class="span2">
        <col class="span3">
      </colgroup>
      <thead>
        <tr>
          @header("name", "Application")
          @header("version", "Internal version")
          @header("version_display", "Version")
          @header("category", "Category")
          @header("state", "State")
        </tr>
      </thead>
      <tbody>
        @for(app <- currentPage.list) {
          <tr>
            <td><a href="@routes.Applications.open(app.id)">@app.name</a></td>
            <td>@app.version</td>
            <td>@app.versionDisplay</td>
            <td>@app.category.name</td>
            <td>@app.state.name</td>
          </tr>
        }
      </tbody>
    </table>

    <div class="pagination pagination-right">
      <ul>
        @if(currentPage.hasPrev) {
          <li><a href="@link(currentPage.index - 1, null)">Previous</a></li>
        } else {
          <li class="disabled"><a>Previous</a></li>
        }

        <li><a>Displaying @currentPage.displayXtoYofZ</a></li>

        @if(currentPage.hasNext) {
          <li class="next"><a href="@link(currentPage.index + 1, null)">Next</a></li>
        } else {
          <li class="disabled"><a>Next</a></li>
        }
      </ul>
    </div>
  }
}