@(binaryDataForm: Form[BinaryData], applicationID: Int, developer: Developer)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(elements.twitterBootstrap2Input.render) }

@main(developer) {
  <div class="page-header">
    <h1>
      @Application.findName(applicationID)
      <small>Binary data</small>
    </h1>
  </div>

  @form(routes.Submissions.submit(), 'class -> "form-horizontal", 'enctype -> "multipart/form-data") {

    @if(flash.contains("success")) {
      <div class="alert alert-success alert-block">
        <a class="close" data-dismiss="alert" href="#">×</a>
        @flash.get("success")
      </div>
    }

    @if(binaryDataForm.hasGlobalErrors) {
      @for(error <- binaryDataForm.globalErrors) {
        <div class="alert alert-error alert-block">
          <a class="close" data-dismiss="alert" href="#">×</a>
          @error.message
        </div>
      }
    }

    <input type="hidden" id="applicationID" name="applicationID" value="@applicationID">

    @inputFile(binaryDataForm("binary"), '_label -> "Binary")
    @inputFile(binaryDataForm("icon"), '_label -> "Icon", 'accept -> "image/*")
    @inputFile(binaryDataForm("artwork"), '_label -> "Artwork", 'accept -> "image/*")
    @inputFile(binaryDataForm("screenshot1"), '_label -> "Screenshot 1", 'accept -> "image/*")
    @inputFile(binaryDataForm("screenshot2"), '_label -> "Screenshot 2", 'accept -> "image/*")
    @inputFile(binaryDataForm("screenshot3"), '_label -> "Screenshot 3", 'accept -> "image/*")
    @inputFile(binaryDataForm("screenshot4"), '_label -> "Screenshot 4", 'accept -> "image/*")
    @inputFile(binaryDataForm("screenshot5"), '_label -> "Screenshot 5", 'accept -> "image/*")

    <div class="form-actions">
      <button type="submit" class="btn btn-primary">Submit this application</button>
      <a class="btn" href="@routes.Applications.list()">Postpone</a>
    </div>
  }
}
