@(applicationForm: Form[Application], developer: Developer)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(elements.twitterBootstrap2Input.render) }

@main(developer) {
  @defining(!"0".equals(applicationForm.field("previousVersionID").value)) {isNewVersion =>

    <div class="page-header">
      <h1>
        @if(isNewVersion) {New version} else {New application}
        <small>Metadata</small>
      </h1>
    </div>

    @form(if(isNewVersion){routes.Submissions.saveNewVersion()} else {routes.Submissions.save()}, 'class -> "form-horizontal") {

      @if(applicationForm.hasGlobalErrors) {
        @for(error <- applicationForm.globalErrors) {
          <div class="alert alert-error alert-block">
            <a class="close" data-dismiss="alert" href="#">×</a>
            @error.message
          </div>
        }
      }

      @if(isNewVersion) {
        @inputText(applicationForm("name"), '_label -> "Application name", '_help -> "Required", 'readonly -> "readonly")
      } else {
        @inputText(applicationForm("name"), '_label -> "Application name", '_help -> "Required")
      }
      @inputText(applicationForm("version"), '_label -> "Internal version", 'readonly -> "readonly")
      @inputText(applicationForm("versionDisplay"), '_label -> "Version", '_help -> "Required")

      @textarea(applicationForm("noteToReviewer"), '_label -> "Note to the reviewer", '_help -> "")
      @textarea(applicationForm("description"), '_label -> "Description", '_help -> "Required")

      @input(applicationForm("website"), '_label -> "Website", '_help -> "") { (id, name, value, htmlArgs) =>
        <input type="url" id="@id" name="@name" value="@value" @toHtmlArgs(htmlArgs)>
      }
      @input(applicationForm("supportEmail"), '_label -> "Support email", '_help -> "Required") { (id, name, value, htmlArgs) =>
        <input type="email" id="@id" name="@name" value="@value" @toHtmlArgs(htmlArgs)>
      }

      <input type="hidden" id="previousVersionID" name="previousVersionID" value="@applicationForm.field("previousVersionID").value">

      @if(isNewVersion) {
        @select(
          applicationForm("category.id"),
          options(classifiers.Category.options),
          '_label -> "Category", '_default -> "-- Choose a category --",
          '_showConstraints -> false,
          'disabled -> "disabled"
        )
        <input type="hidden" id="category_id" name="category.id" value="@applicationForm.field("category.id").value">
      } else {
        @select(
          applicationForm("category.id"),
          options(classifiers.Category.options),
          '_label -> "Category", '_default -> "-- Choose a category --",
          '_showConstraints -> false
        )
      }

      @elements.selectAppend(
        applicationForm("contentRating.id"),
        options(classifiers.ContentRating.options),
        '_label -> "Content rating", '_default -> "-- Choose a content rating --",
        '_showConstraints -> false
      ) {
        <a class="btn btn-info" data-toggle="modal" href="#modalContentRatings">?</a>
      }

      @elements.selectAppend(
        applicationForm("priceTier.id"),
        options(classifiers.PriceTier.options),
        '_label -> "Price tier", '_default -> "-- Choose a price tier --",
        '_showConstraints -> false
      ) {
        <a class="btn btn-info" data-toggle="modal" href="#modalPriceTier">?</a>
      }

      @textarea(applicationForm("keywords"), '_label -> "Keywords", '_help -> "Required, Space delimited")

      <div class="form-actions">
        <button type="submit" class="btn btn-primary">Save and upload binaries</button>
        <a class="btn" href="@routes.Applications.list()">Cancel</a>
      </div>
    }
  }

  @elements.modal("modalContentRatings", "Content ratings") {
    <div class="accordion" id="accordionContentRatings">
      @for(contentRating <- classifiers.ContentRating.list) {
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionContentRatings" href="#collapse@contentRating.name.hashCode">
              @contentRating.name
            </a>
          </div>
          <div id="collapse@contentRating.name.hashCode()" class="collapse" style="height: 0px; ">
            <div class="accordion-inner">
              @contentRating.description
            </div>
          </div>
        </div>
      }
    </div>
  }

  @elements.modal("modalPriceTier", "Price tiers") {
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Price tier</th>
          <th>USD</th>
          <th>EUR</th>
        </tr>
      </thead>
      <tbody>
        @for(priceTier <- classifiers.PriceTier.list) {
          <tr>
            <td>@priceTier.name</td>
            <td>@priceTier.usd</td>
            <td>@priceTier.eur</td>
          </tr>
        }
      </tbody>
    </table>
  }
}
